<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<display-name>Project3Part3</display-name>
	<welcome-file-list>
		<welcome-file>UserManager1.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>cs122b.Servlets.UserManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/usermanager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PermissionServlet</servlet-name>
		<servlet-class>cs122b.Servlets.PrivilegeManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PermissionServlet</servlet-name>
		<url-pattern>/privilegemanager</url-pattern>
	</servlet-mapping></web-app>